

.leftSideFirst{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-bottom:6px;
    border-bottom:1px solid lightgrey
}

.filterPFirst {
    font-size:7px;
    font-weight:lighter;
}

.filterDivFirst{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.filterPLast{
    color:red;
    font-size:9px;
}